.sidebar {
    width: 30%;
    min-width: 150px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex-shrink: 0;
}

.sidebar__block {
    width: 100%;
    padding: 1rem;
    background: rgba(var(--c-rgb-secondary), .0625);
}

.sidebar__title {
    font-size: 2rem;
    text-align: center;
}

.sidebar__text {
    font-weight: 300;
}



@media (max-width: 769px) {
    .sidebar {
        display: none;
    }
}